
body{
    background-color: lightgrey;
    font-family: sans-serif;
  }
  
  .container{
    margin: absolute;
    background-color: rgb(255, 255, 255);
    width: 900px;
    padding: 50px;
    
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; 
  }
  
  ul.slider li:target {
      opacity: 1;
  }

.menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 450%;
  }
  


        p.box1 {
        width: 400px;
        margin:20px 60px;
        padding:50px;
        font-size:italic;
        background-color:#aeb339;
        color:#000;
        }

        p.box2 {

            width:400px;
            margin:20px 60px;
            padding:50px;
            font-size:italic;
            background-color:#ecd96f;
            color:#000;
            }

            p.box3 {
                width:400px;
                margin:20px 60px;
                padding:50px;
                font-size:italic;
                background-color:#f8efd3;
                color:#000;
                }
